
<style>
    .Repl_box {
        width: 300px;
        height: 50px;
        display: none;
    }
</style>

<span><button class="Re_tishi" style="position:relative;top:-21px;left:808px;">回复</button></span>
<div class="Repl_box">
    <textarea class="Reply_text"></textarea>
    <button type="button" class="Re_tijiao">提交</button>
</div>