@model JiaoZi.Models.Kongjianban
@{
    ViewBag.Title = "文件";
    Layout = "~/Views/Shared/Layoutkongjian.cshtml";
}
<script src="~/Scripts/zui.uploader.min.js"></script>
<style>
</style>

<div class="row">
    <!--左-->
    <div class="col-md-2" style="background-color:gainsboro;height:800px;">
        <div style="height: 30%;width:100%;">
            <ul class="nav nav-tabs nav-stacked" id="tabNav">
                <li class="active"><a href="#upload">上传</a></li>
                <li><a href="#download">下载</a></li>
            </ul>
            <br />
        </div>
    </div>
    <!--中-->
    <div class="tab-content col-md-8" >
        <!--文件上传-->
        <div class="tab-pane active" id="upload" style="background-color:white;height:800px;width:100%">
            <div class="uploader" data-ride="uploader" data-url="/Kongjian/File">
                <div class="uploader-message">
                    <div class="content"></div>
                    <button type="button" class="close">×</button>
                </div>
                <div class="uploader-files file-list" data-drag-placeholder="请拖拽文件到此处"></div>
                <div class="uploader-actions">
                    <div class="uploader-status pull-right text-muted"></div>
                    <button type="button" class="btn btn-link uploader-btn-browse"><i class="icon icon-plus"></i> 选择文件</button>
                    <button type="button" class="btn btn-link uploader-btn-start"><i class="icon icon-cloud-upload"></i> 开始上传</button>
                </div>    
            </div>
            <div>
               @Html.Action("allfill")
            </div>
        </div>
   <!--下载-->
      <div class="tab-pane" id="download" style="background-color:white;height:800px;width:100%;">
         下载
      </div>
</div>
</div>
