@model JiaoZi.Models.Kongjianban
<!--发说说-->
@{
    Layout = "~/Views/Shared/Layoutkongjian.cshtml";

}
<style>
    #shuoshuoinput {
        max-width: 50%;
    }

    #jiantou {
        padding-right: 20px;
        text-align: left;
    }

    #shuocontent {
        padding-left: 0px;
    }

</style>
        <div>
            <style>
                .shuoshuoinput {
                    height: 100px;
                    width: 500px;
                    background-color: antiquewhite;
                }
            </style>
            <link href="~/Content/ueditor.min.css" rel="stylesheet" />
            <link href="~/kindeditor/kindeditor.min.css" rel="stylesheet" />
            <script src="~/kindeditor/kindeditor.min.js"></script>    
            <h3>说说</h3>
            <hr/>   
                @using (Html.BeginForm("shuoshuo", "Kongjian", FormMethod.Post))
            {
                    <div>
                        @Html.TextArea("shuoshuoinput", new { @class = "kindeditorSimple", placeholder = "输入文字"})
                        <input type="submit" value="发送" />
                    </div>
                }   
       <script type="text/javascript">
       KindEditor.create('textarea.kindeditorSimple', {
       basePath: '/kindeditor/',
       bodyClass : 'article-content',
       resizeType: 1,
       allowPreviewEmoticons : false,
       allowImageUpload : false,
       items : [
        'emoticons', 'image', 'link'
       ]
       });</script>
        </div>
       @Html.Action("allshuoshuo")
 



